.texto16{
    color: blue;
    font-size: 16pt;
    font-weight: bold;
}

.texto14{
    color: blue;
    font-size: 14pt;
    font-weight: bold;
}

button{
    background: #aed6f1;
    color: blue;
    border-radius: 7px;
    width: 200px;
    font-size: 14pt;
    font-weight: bold;
}

button:hover{
    background: blue;
    color: #aed6f1;
    
}

table{
    border: 3px solid blue;
    width: 90%;
    background: #aed6f1;
}

tr,td{
    text-align: center;
    border: 1px solid blue;
}